/*! variables */

:root {
	--main-text-color: #ffffff;  /* *White */
	--main-bg-color: #000000;    /* *Bg-dark */
	--second-text-color: #bdae82;  /* *Gold */
}

/*! global styles */

/* ?Selective nulling */

/* Removing the underscore and blue color of all links */
a {
	color: inherit;
	text-decoration: none;
}

/* Specify box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove standard styling for all ul and il that have a class attribute*/
ul[class],
ol[class] {
	list-style: none;
}

/* Inherit fonts for intuitions and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Simplifying work with images */
img {
	max-width: 100%;
	display: block;
}

/* Elements a that don't have a class are reset to default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* ?! */

/* Remove internal indentation */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove the outside indentation */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.bigred {
	font-size: 20px;
	color: red;
}

html {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	color: #ffffff;
	background-color: var(--main-bg-color);
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 80px;
}

/* !!?? The following begins the changes made in Part 2 */
/* !!2 *changes */

.container-centerer {
	max-width: 1440px;
	align-content: center;
}

/* *buttons */

.button {
	display: flex;
	width: 220px;
	height: 55px;
	background-color: var(--second-text-color);
	color: var(--main-bg-color);
	align-items: center;
	justify-content: center;
	border: none;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
	cursor: pointer;
}

.button-unselected {
	display: flex;
	width: 220px;
	height: 55px;
	background-color: inherit;
	color: var(--second-text-color);
	align-items: center;
	justify-content: center;
	border: none;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
	border: 2px var(--second-text-color) solid;
	cursor: pointer;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* *word-with-lines */

.word-with-lines {
	display: flex;
	max-width: 700px;
	width: 48.61%;
	margin: 0 auto;
	height: 80px;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 60px;
}

.word-title {
	font-family: 'Merriweather', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 80px;
	color: var(--second-text-color);
	overflow: hidden;
}

.word-with-lines::before {
	content: '';
	display: flex;
  vertical-align: middle;
	width: 39.1428%;
	height: 2px;
	background-color: var(--second-text-color);
	position: relative;
	margin-left: -100%;
	left: -20px;
	align-self: center;
}

.word-with-lines::after {
	content: '';
	display: flex;
	width: 39.1428%;
	height: 2px;
	background-color: var(--second-text-color);
	position: relative;
	margin-right: -100%;
	right: -20px;
	align-self: center;
}

/* Fitting lines later, if anything */

/*! header */

/* *main-navigation */

.main-header {
	background-image: url(./assets/img/hero-bg-1440.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/* !background-adaptive */

.main-navigation {
	display: flex;
	flex-direction: row;
	max-height: 90px;
	margin-right: 20px;
}

.wrapper-logo {
	display: flex;
}

.logo-link {
	display: flex;
	padding: 20px;
	padding-right: 0;
}

.wrapper-navigation {
	display: flex;
	max-width: 500px;
	max-height: 50px;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 17px;
}

.navigation-list {
	display: flex;
	flex-direction: row;
	font-weight: normal;
	font-size: 20px;
	line-height: 50px;
}

.navigation-item {
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
}

.wrapper-switcher {
	display: flex;
	max-width: 195px;
	max-height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.switcher-link {
	color: var(--main-text-color);
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 50px;
	background-color: inherit;
	border: none;
}

.switcher-list {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: 20px;
	line-height: 50px;
}

.switcher-item-1 button{
	color: var(--second-text-color);
}

.switcher-item-2 button{
	display: flex;
	padding-left: 9px;
	padding-right: 8px;
}

/* *hero */

.hero {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	max-height: 330px;
	margin-top: 160px;
	margin-left: 80px;
	margin-bottom: 330px;
}

.hero-title {
	font-weight: bold;
	font-size: 60px;
	line-height: 120px;
	margin-bottom: 10px;
}

.hero-text {
	max-width: 470px;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
}

.hero-button {
	margin-top: 25px;
}

/*! main */

/* *skills */

.skills {
	display: flex;
	max-height: 729px;
	flex-direction: column;
	align-items: center;
}

.skills-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	gap: 0 40px;
}

.skill-item {
	display: flex;
	flex-direction: column;
	width: 320px;
	height: 240px;
	align-items: center;
}

.logo-camera {
	width: 62px;
	height: 50px;
	background-image: url(./assets/svg/logo-camera-1.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 50px;
}

.logo-video {
	width: 60px;
	height: 50px;
	background-image: url(./assets/svg/logo-video-1.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 50px;
}

.logo-image {
	width: 66px;
	height: 50px;
	background-image: url(./assets/svg/logo-image-1.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 50px;
}

.logo-mic {
	width: 32px;
	height: 50px;
	background-image: url(./assets/svg/logo-mic-1.svg);
	background-repeat: no-repeat;
	margin-bottom: 50px;
}


.skill-title {
	font-family: 'Inter', sans-serif;
	display: flex;
	font-weight: bold;
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.skill-text {
	display: flex;
	display: inline-flex;
	font-weight: normal;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}

/* *portfolio */

.portfolio {
	display: flex;
	flex-direction: column;
}

.portfolio .word-with-lines::before ,
.portfolio .word-with-lines::after {
	width: 239px;
}

.wrapper-portfolio-buttons {
	margin-bottom: 60px;
	max-width: 895px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.button-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
}

.wrapper-portfolio-list {
	margin-left: 20px;
	margin-right: 20px;
	justify-content: center;
}

.portfolio-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 25px;
	margin-left: auto;
	margin-right: auto;
}

/* *video */

.video-player {
	display: flex;
	max-width: 1400px;
	min-height: 705px;
	margin-left: 20px;
	margin-right: 20px;
	background-image: url(./assets/img/video-player-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	justify-content: center;
}

.video-player-button {
	display: flex;
	width: 129.99px;
	height: 130px;
	background: unset;
	border: transparent;
	background-image: url(./assets/svg/logo-play-btn-1.svg);
	background-repeat: no-repeat;
	background-position: center center;
	align-self: center;
	padding: 128px;
	margin-left: 5px;
	cursor: pointer;
}

/* *price */

.price {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.price .word-with-lines::before ,
.price .word-with-lines::after {
	width: 278px;
}

.price-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1400px;
	gap: 25px;
}

.price-item {
	display: flex;
	flex-direction: column;
	width: 450px;
	max-height: 505px;
	align-items: center;
	border: 4px var(--second-text-color) solid;
}

.service-title {
	font-weight: bold;
	font-size: 28px;
	line-height: 56px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.service-lead {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 48px;
	text-align: center;
	color: var(--second-text-color);
	margin-bottom: 20px;
}

.service-list {
	display: flex;
	flex-direction: column;
}

.service-item {
	font-weight: normal;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
}

.service-button {
	margin-top: 40px;
	margin-bottom: 43px;
}

/* *contacts */

.contacts {
	display: flex;
	max-width: 1440px;
	min-height: 700px;
	background-image: url(./assets/img/contacts-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	justify-content: flex-end;
}

.wrapper-contacts {
	display: flex;
	max-width: 450px;
	max-height: 445px;
	flex-direction: column;
	margin-right: 20px;
	margin-top: 60px;
}

.contacts-title {
	font-family: 'Merriweather', serif;
	color: var(--second-text-color);
	font-weight: bold;
	font-size: 40px;
	line-height: 80px;
	margin-bottom: 40px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-cell {
	display: flex;
	width: 450px;
	height: 50px;
	border: 2px var(--second-text-color) solid;
	background: transparent;
	color: var(--second-text-color);
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
	padding-left: 16px;
	background-color: rgba(0, 0, 0, 0.4);
}

input::-webkit-input-placeholder { color:  #bdae82; }
textarea::-webkit-input-placeholder { color:  #bdae82; }

.form-text {
	height: 100px;
	margin-bottom: 10px;
}

/*! footer */

.footer {
	max-width: 1440px;
}

.footer-navigation-list{
	width: 1440px;
	height: 150px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}

.footer-navigation-item {
	font-weight: normal;
	font-size: 20px;
	line-height: 50px;
	margin-left: 20px;
}

.item-1a {
	display: flex;
	flex-direction: row;
	width: 182px;
	height: 50px;
	gap: 20px;
	margin-right: auto;

}

.item-2a {
	display: flex;
	flex-direction: row;
	width: 212px;
	font-weight: normal;
	font-size: 20px;
	line-height: 50px;
} 

.item-3a {
	display: flex;
	flex-direction: row;
	width: 188px;
	gap: 20px;
	margin-left: auto;
	margin-right: 20px;
}

.link-social {
	display: flex;
	margin: 0;
	padding: 0;
	width: 32px;
	height: 32px;
}

.item-3-1 {
	background-image: url(./assets/svg/logo-inst-1.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.item-3-2 {
	background-image: url(./assets/svg/logo-fb-1.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.item-3-3 {
	background-image: url(./assets/svg/logo-tw-1.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.item-3-4 {
	background-image: url(./assets/svg/logo-pinterest-1.svg);
	background-repeat: no-repeat;
	background-position: center;
}

/* !CSS animation */

/* *links animation */

.navigation-link:hover ,
.navigation-link:focus ,
.item-1-3:hover ,
.item-1-3:focus ,
.item-2-1:hover ,
.item-2-1:focus {
	color: var(--second-text-color);
	transition: all 0.7s ease 0s;
}

/* *buttons animation */

/* ?button */

.button:hover ,
.button:focus {
	color: var(--main-text-color);
	transition: all 0.7s ease 0s;
}

/* ?button-unselected */

.button-unselected:hover ,
.button-unselected:focus {
	color: var(--main-text-color);
	transition: all 0.7s ease 0s;
}

/* *icons animation and icons buttons */

.logo-link:hover ,
.logo-link:focus ,
.switcher-link:hover ,
.switcher-link:focus ,
.video-player-button:hover ,
.video-player-button:focus ,
.link-social:hover ,
.link-social:focus {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
	transition: all 0.7s ease 0s;
}

/* !burger-menu */

.icon-burger-menu {
	display: none;
}

/* !!! Styles for 1439 */

@media (max-width: 1439px) {

	.logo-link {
		padding: 20px;
		padding-left: 60px;
		padding-right: 0;
	}

	.skills-list {
		max-width: 728px;
		max-height: 520px;
		gap: 5.729% 4.6875%;
		align-items: center;
	}

	.skill-item {
		margin-left: 0;
		margin-right: 0;
	}

	.portfolio .wrapper-portfolio-list {
		margin: 0 auto;
		max-width: 980px;
		justify-items: center;
	}

	.wrapper-portfolio-list .portfolio-list {
		max-width: 980px;
		margin-left: auto;
	}

	.footer-navigation-list {
		width: 100%;
	}
}

/* !!! Styles for 1428px */

@media (max-width: 1428px ) {

	.price .word-with-lines {
		margin-bottom: 69px;
	}

	.price .price-list {
		max-width: 460px;
		flex-wrap: wrap;
		gap: 50px 0;
	}

	.price-item {
		width: 420px;
		max-height: 505px;
		margin: 0 auto;
	}

	.service-title {
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		line-height: 56px;
		text-align: center;
	}

	.service-lead {
		margin-bottom: 20px;
	}

	.price {
		margin-bottom: 81px;
	}
}

/* !!! Styles for 1405 */

@media (max-width: 1405px) {
	
	.wrapper-portfolio-buttons {
		justify-content: space-between;
		width: 455px;
	}

	.wrapper-portfolio-buttons .button-list {
		gap: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
	}

		.price .word-with-lines::before ,
		.price .word-with-lines::after {
			width: 32%;
	}
}

/* !!! Styles for 950px */

@media (max-width: 950px) {
	.portfolio-item {
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
		gap: 12px;
	}

	.portfolio {
		margin-top: 20px;
	}
}

/* !!! Styles for 768 */

@media (max-width: 769px) {

	.wrapper-navigation {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		border: 0;
		clip: rect(0 0 0 0)
	}

		/* !header  */

	.main-header {
		background-image: url(./assets/img/hero-bg-768.png);
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 590px;
	}

	.logo-link {
		padding: 20px;
		padding-left: 60px;
		padding-right: 0;
	}

	.wrapper-switcher {
		margin-left: auto;
		margin-right: 20px;
		margin-top: 29px;
		justify-content: center;
		align-items: center ;
	}

	.icon-burger-menu {
		display: flex;
		width: 50px;
		height: 28px;
		margin-top: 31px;
		margin-right: 47px;
	}

	.icon-burger {
		width: 54px;
		height: 28px;

		background-image: url(./assets/svg/icon-burger.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-color: inherit;
		border: none;
		cursor: pointer;
	}

	.icon-burger:hover ,
	.icon-burger:focus {
		filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
		transition: all 0.7s ease 0s;
	}

		/* !hero */

	.hero {
		margin-top: 78px;
		margin-left: 60px;
		max-width: 390px;
		margin-bottom: 93px;
	}

	.hero-title {
		font-size: 32px;
		line-height: 64px;
		margin-bottom: 20px;
	}

	.hero-text {
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
	}

	.hero .button{
		margin-top: 60px;
		margin-bottom: 152px;
		width: 219px;
		padding: 10px;
	}

	/* !lines */

	.word-with-lines {
		margin-bottom: 64px;
	}

	.wrapper-skills-title {
		max-height: 40px;
	}

	.word-with-lines .word-title {
		font-weight: bold;
		font-size: 32px;
		line-height: 40px;
		overflow: hidden;
	}

	.word-with-lines::before {
		width: 31.5%;
		align-self: center;
	}

	.word-with-lines::after {
		width: 31.5%;
		align-self: center;
	}

	/* !! main */

	/* !skills */

	.skills {
		align-content: center;
	}

	.skills-list {
		display: flex;
		justify-content: center;
		gap: 20px 0;
		align-content: center;
	}

	.skill-item {
		width: 320px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.skill-logo {
		margin-bottom: 30px;
	}

	.skill-item .skill-text{
	
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
	}

	/*! portfolio */

	.wrapper-portfolio-title {
		max-height: 40px;
		margin-top: 102px;
	}

	.portfolio .word-with-lines::before {
		width: 23.5%;
	}

	.portfolio .word-with-lines::after{
		width: 23.5%;
	}

	.item-3 {
		margin-left: 0;
	}

	.item-5 {
		margin-left: 0;
	}

	/* !video */

	.wrapper-video-title {
		max-height: 40px;
		margin-bottom: 65px;
	}

	.video-player {
		margin: 0;
		margin-top: 0;
		background-image: url(./assets/img/video-player-bg-768.png);
		background-repeat: no-repeat;
		background-position: center;
		min-height: 418px;
	}

	.video-player .video-player-button {
		background-image: url(./assets/svg/play-btn.svg);
		background-repeat: no-repeat;
		background-position: center center;
		width: 75px;
		height: 75px;
	}

	/* !price */

	.price .wrapper-price-title {
		max-height: 40px;
		margin-top: 102px;
	}

	/* !contacts */

	.contacts {
		display: flex;
		max-width: 768px;
		min-height: 600px;
		background-image: url(./assets/img/contacts-bg-768.png);
		background-repeat: no-repeat;
		background-position: center;
		justify-content: center;
	}

	.wrapper-contacts {
		display: flex;
		max-width: 450px;
		max-height: 445px;
		flex-direction: column;
		margin-right: 0px;
		margin-top: 60px;
	}

	.contacts-title {
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 64px;
		text-align: center;
		margin-bottom: 40px;
	}

	button.form-button {
		margin: 0 auto;
		margin-top: 4px;
	}

	/* !footer */

	.footer-navigation {
		margin-bottom: 20px;
	}

	.footer-navigation-list{
		flex-direction: column;
		align-items: center;
		align-items: center;
		margin-top: 30px;
	
	}

	.item-1a {
		max-height: 220px;
		margin-right: 20px;
		margin-left: 30px;
	}

	.item-3a {
		margin-left: 30px;
	}

}

/* !!! Styles for 729px */

@media (max-width: 729px) {
	
	.skills-list {
		display: flex;
		flex-direction: column;
		max-width: 480px;
		gap: 0;
		flex-wrap: wrap;
		align-self: center;
		max-height: 1440px;
	}

	.portfolio-item {
		max-width: 480px;
		margin-left: auto;
		margin-right: auto;
	}

	.portfolio {
		margin-top: 320px;
	}

	/* !contacts */
}

/* !!! Styles for 459px */

@media (max-width: 489px) {

	.skills {
		margin-bottom: 380px;
	}

	.wrapper-portfolio-buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
	
	}

	.button-list {
		flex-direction: column;
		align-items: center;
	}

	.portfolio .wrapper-portfolio-buttons {
		max-width: 290px;
		flex-wrap: wrap;
		margin: 0 auto;
	} 

	.portfolio-item img{
			max-width: 290px;
			max-height: 361px;
	}

	.price-item {
		max-width: 290px;
	}

	.wrapper-contacts {
		max-width: 290px;
	}

	.form-cell {
		max-width: 230px;
	}

	ul.footer-navigation-list {
		max-width: 250px;
		flex-direction: column;
		align-items: center;
	}
}

/* !!!part#3 */

/* !!switcher theme */

/* !theme button */

.switcher-button {
	display: block;
	width: 45px;
	height: 45px;
	border: none;
	background-color: initial !important;
	background-image: url(./assets/svg/theme-switcher-button-1.svg);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 30px;
	margin-right: 20px;
}

.switcher-button:hover ,
.switcher-button:focus {
	filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
	transition: all 0.7s ease 0s;
}

.light-theme .switcher-button{
	background-image: url(./assets/svg/theme-switcher-button-2.svg);
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 804px) {
	.wrapper-navigation {
		padding-right: 0;
		margin-left: 0;
	}

	.navigation-item {
		padding-left: 5px;
	}
}


@media (max-width: 768px) {
	.switcher-theme {
		margin-right: 30px;
	}
}

@media (max-width: 412px) {

	.switcher-theme {
		margin-right: 0;
	}

	.main-navigation {
		margin-right: 15px;
	}

	.switcher-button {
		width: 30px;
		height: 30px;
		background-size: 100%;
		margin-left: 10px;
	}

	.wrapper-switcher {
		margin-left: auto;
		margin-right: 15px;
	}

	.logo-link {
		padding-left: 30px;
	}

	.icon-burger-menu {
		margin-right: 7px;
	}

	.hero .hero-button#1  {
		margin-top: 20px;
	}
}

@media (max-width: 330px) {
	.main-navigation {
		margin-right: 9px;
	}
}

/* !light theme */

.light-theme {
	background-color:var(--main-text-color);
	color:var(--main-bg-color);
}

.light-theme .word-title ,
.light-theme .word-with-lines::before ,
.light-theme .word-with-lines::after  {
	--second-text-color: black;
}

.light-theme-helper {
	color: #ffffff;
	background-color: var(--main-bg-color);
}

.light-theme .button-unselected {
	color: black;
}

.light-theme .button-unselected:hover ,
.light-theme .button-unselected:focus {
	color: #ffffff;
	transition: all 0.7s ease 0s;
	background-color: var(--second-text-color);
}

.light-theme .main-footer {
	width: 99.9999999%;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
}

/* !!switcher photo */

/* !!portfolio-photos */
